{% extends "usersite/index.html" %}
{% load my_filter %}

{% block page %}

<style>
/* page loader is begin */

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }    
  
  .loader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .loader:before, .loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  
  .loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  .loader-text {
    margin-top: 20px;
    font-size: 16px;
    color: #000;
  }
  
  /* page loader ending */

</style>

<script>

    $(document).on('click', '#login', function(event) {
        event.preventDefault();
        
        // Show the loader
        $(".loader-overlay").show();
        
        $.ajax({
            type: 'POST',
            url: "{% url 'login' %}",
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                username: $('#yourUsername').val(),
                password: $('#yourPassword').val(),
            },
            success: function(response) {
                if (response.status === 'success') {
                    // Keep the loader visible for 5 seconds
                    $('#text-message').text("Please wait!! OTP sent to your Registered Email Address");
                    setTimeout(function() {
                        // Hide the loader just before redirecting
                        $('.loader-overlay').hide();
                        // Redirect to the next view
                        window.location.href = response.redirect_url;
                    }, 5000);
                } else {
                    // Hide the loader if there's an error and show the alert
                    //$('.loader-overlay').show();
                    //$('#text-message').text("Please wait!! OTP sent to your registered Email Address");
                    alert(response.message);
                    window.location.href = '/login/'; 
                }
            },            
            error: function(xhr, status, error) {
                // Hide the loader
                $('.loader-overlay').hide();
                
                console.log("AJAX error: ", status, error);
            }
        });
    });
    

</script>
<div class="row justify-content-center">
    <div
        class="col-lg-5 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3">

            <div class="card-body border-3">

                <div class="pt-1 pb-4">
                    <h1 class="card-title text-center fs-1 text-black fw-bolder pb-0"> Customer
                        Login</h1>
                    <p class="text-center small text-secondary">Enter your
                        username & password
                        to login</p>
                </div>

                {% comment %} {% if messages %}
                {% for msg in messages %}
                <div class="alert text-center alert-{{msg.tags}}">
                    <i class="bi bi-{{msg.tags|Icon}} me-1"></i>{{msg}}
                </div>
                {% endfor %}
                {% endif %} {% endcomment %}

                <form class="row g-4 needs-validation" novalidate method="post">
                    {% csrf_token %}
                    <div class="col-12">
                        <label for="yourUsername"
                            class="form-label fw-bolder">Username or E-mail ID</label>
                        <div class="input-group has-validation">
                            <input type="email" name="username"
                                class="form-control" id="yourUsername" required>
                            <div class="invalid-feedback">Please enter your
                                username.</div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword"
                            class="form-label fw-bolder">Password</label>
                        <input type="password" name="password"
                            class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter your
                            password!</div>
                    </div>

                    <div class="col-12 text-center">
                        <button class="btn btn-success" id="login">Login</button>
                        <a href="/" class="btn btn-dark">Back</a>
                    </div>
                    <div class="col-12">
                        <p class="text-secondary">New User ? <a
                                href="/signup/"
                                class="text-black fw-bold text-decoration-underline">Signup</a></p>
                                <p class="text-secondary">Click Here ? <a href="{% url 'forget_password_view' %}" class="text-black fw-bold text-decoration-underline">forget password</a></p>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<div class="loader-overlay" style="display: none;">
    <div class="loader-container">
        <div class="loader"></div>
        <p class="loader-text" id="text-message"></p>
    </div>
</div>

{% endblock page %}


{% block content %}
<div class="pagetitle">
    <nav style="--bs-breadcrumb-divider: '•';">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">
            <i class="bi bi-house-door"></i>
          </a>
        </li>
        <li class="breadcrumb-item active">Log in</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
{% endblock content %}