{% extends "usersite/index.html" %}
{% load static %}
{% load my_filter %}

{% block page %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
      // Ensures the function runs when the DOM is fully loaded
      displaynone1();
    });
    function displaynone1(){
      document.querySelector('.sidebar').style.display = 'none';
      document.querySelector('#footer').style.marginLeft = '0px';
      document.querySelector('.main').style.marginLeft ='0px';
    }
        $(document).on('click','#verify_otp', function(event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url "login_verify_otp" %}',  // Ensure this matches the URL pattern for Forget_password_view
                data: {
                    otp: $('#yourotp').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        alert(response.message);
                        window.location.href = response.redirect_url;
                    } else {
                        alert(response.message);
                        //window.location.href = '/';
                    }
                },
                error: function(response) {
                    alert('An error occurred. Please try again.');
                }
            });
        });

        
</script>
<div class="row justify-content-center">
    <div
        class="col-lg-5 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3">

            <div class="card-body border-3">

                <div class="pt-1 pb-4">
                    <h1
                        class="card-title fs-4 text-black fw-bolder pb-0 text-decoration-none">Login Verification
                        Form</h1>
                </div>

                {% if messages %}
                {% for msg in messages %}
                <div class="alert text-center alert-{{msg.tags}}">
                    <i class="bi bi-{{msg.tags|Icon}} me-1"></i>{{msg}}
                </div>
                {% endfor %}
                {% endif %}

                <form class="row g-4 needs-validation" novalidate method="post"
                    id="send_mail_form">
                    {% csrf_token %}
                    <div class="col-12">
                        <label for="yourotp"
                            class="form-label fw-bolder">Enter OTP:</label>
                        <div class="input-group has-validation">
                            <input type="text" name="yourotp"
                                class="form-control" id="yourotp" required>
                            <div class="invalid-feedback">Please enter otp</div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-info"
                            type="submit" id="verify_otp">Submit</button>
                        <button class="btn btn-dark"
                            type="reset">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock page %}
{% block content %}
<div class="pagetitle">
    <!-- <h1 class="text-danger">Login</h1> -->
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                
                <a href="/">
                    <i class="bi bi-house-door"></i>
                </a>
            </li>
            <li class="breadcrumb-item active">Login</li>
            <li class="breadcrumb-item active">Verify otp</li>
            <!-- <li class="breadcrumb-item active">Forget Password</li> -->
        </ol>
    </nav>
</div>
{% endblock content %}