{% extends "usersite/customerindex.html" %}
{% load my_filter %}

{% block content %}

<div class="pagetitle">
  <nav style="--bs-breadcrumb-divider: '•';">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/profile/">
          <i class="bi bi-house-door"></i>
        </a>
      </li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

{% endblock content %}

{% block page %}

<section class="section profile">
  <div class="container">
    <div class="row">
      <!-- Profile Image and Social Links -->
      <div class="col-md-4">
        <div class="card">
          <div
            class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <img src="{{request.session.cid|User_Image}}" alt="Profile" class="rounded-circle img-fluid mb-3"
              style="height: 150px; width: 150px;">
            <div class="social-links mt-2">
              <a href="#" class="twitter me-2">
                <i class="bi bi-twitter" style="color:aqua;"></i>
              </a>
              <a href="#" class="facebook me-2">
                <i class="bi bi-facebook" style="color:navy;"></i>
              </a>
              <a href="#" class="instagram me-2">
                <i class="bi bi-instagram" style="color:rgb(163, 12, 163);"></i>
              </a>
              <a href="#" class="linkedin">
                <i class="bi bi-linkedin" style="color:navy;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Profile Details, Edit, and Change Password Tabs -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Tab Navigation -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active fs-5" data-bs-toggle="tab"
                  data-bs-target="#profile-overview">Overview</button>
              </li>
              <li class="nav-item">
                <button class="nav-link fs-5" data-bs-toggle="tab"
                  data-bs-target="#profile-edit">Edit Profile</button>
              </li>
              <li class="nav-item">
                <button class="nav-link fs-5" data-bs-toggle="tab"
                  data-bs-target="#profile-change-password">Change
                  Password</button>
              </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content pt-2">
              <!-- Profile Overview Tab -->
              <div class="tab-pane fade show active" id="profile-overview">
                <h5 class="card-title fs-3 text-primary">Profile Details</h5>
                <div class="row mb-3">
                  <div class="col-sm-4 text-secondary">Full Name:</div>
                  <div class="col-sm-8">
                    {{request.session.cid|User_Name|title}}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-4 text-secondary">Email:</div>
                  <div class="col-sm-8">
                    {{request.session.cid|CustEmail}}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-4 text-secondary">Address:</div>
                  <div class="col-sm-8">
                    {{ request.session.cid|User_Address|title }}
                  </div>
                </div>
              </div>

              <!-- Profile Edit Tab -->
              <div class="tab-pane fade" id="profile-edit">

                <div class="row mb-3">
                  <label for="profileImage"
                    class="col-md-4 col-lg-3 col-form-label">Profile
                    Image</label>
                  <div class="col-md-8 col-lg-9">
                    <img src="{{request.session.cid|User_Image}}"
                      alt="Profile" id="current-profile-image" height="150vh">
                    <div class="pt-2 ">
                      <!-- Upload Button -->
                      <form id="upload-image-form" method="post" action="/profile/profile_details/change_img/"
                        enctype="multipart/form-data" class="d-inline">
                        {% csrf_token %}
                        <input type="file" id="profileImage" name="profileImage" class="d-flex"
                          accept="image/*">
                        <button type="submit" class="btn btn-primary btn-sm"
                          title="Upload new profile image" id="upload-btn">upload</button>
                      </form>
                      <!-- Remove Button -->
                      <a href="/profile/profile_details/delete_img/" class="btn btn-danger btn-sm"
                        title="Remove my profile image" id="remove-btn">delete</a>
                    </div>
                  </div>
                </div>

                <form action="/profile/profile_details/change_profile/"
                  method="post">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="fullName" class="col-sm-4 col-form-label">Full
                      Name</label>
                    <div class="col-sm-8">
                      <input type="text" name="fullName" class="form-control"
                        id="fullName"
                        value="{{ request.session.cid|User_Name|title }}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fatherName"
                      class="col-sm-4 col-form-label">Father Name</label>
                    <div class="col-sm-8">
                      <input type="text" name="fatherName" class="form-control"
                        id="fatherName"
                        value="{{ request.session.cid|User_Fname|title }}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Gender"
                      class="col-sm-4 col-form-label">Gender</label>
                    <div class="col-sm-8">
                      <input type="text" name="gender" class="form-control"
                        id="Gender"
                        value="{{ request.session.cid|User_Gender|title }}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Phone"
                      class="col-sm-4 col-form-label">Contact</label>
                    <div class="col-sm-8">
                      <input type="text" name="phone" class="form-control"
                        id="Phone" maxlength="10"
                        value="{{ request.session.cid|User_Contact|title }}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Address"
                      class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-8">
                      <input type="text" name="address" class="form-control"
                        id="Address"
                        value="{{ request.session.cid|User_Address|title }}">
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save
                      Changes</button>
                  </div>
                </form>
              </div>

              <!-- Change Password Tab -->
              <div class="tab-pane fade" id="profile-change-password">
                <!-- Message Display -->
                <div id="message-container"></div>
                <form id="change-password-form" method="post"
                  action="/profile/profile_details/change_password/">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="currentPassword"
                      class="col-sm-4 col-form-label">Current Password</label>
                    <div class="col-sm-8">
                      <input type="password" name="currentPassword"
                        class="form-control" id="currentPassword">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="newPassword" class="col-sm-4 col-form-label">New
                      Password</label>
                    <div class="col-sm-8">
                      <input type="password" name="newPassword"
                        class="form-control" id="newPassword">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="renewPassword"
                      class="col-sm-4 col-form-label">Re-enter New
                      Password</label>
                    <div class="col-sm-8">
                      <input type="password" name="renewPassword"
                        class="form-control" id="renewPassword">
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Change
                      Password</button>
                  </div>
                </form>

              </div>

            </div><!-- End Tab Content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#change-password-form').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission
            var formData = $(this).serialize(); // Serialize form data

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Clear previous messages
                    $('#message-container').empty();
                    // Append the success message to the message container
                    $('#message-container').append('<div class="alert alert-success text-center">' + response.message + '</div>');
                    // Optionally, reset the form fields after a successful password change
                    $('#change-password-form')[0].reset();
                },
                error: function (xhr) {
                    // Clear previous messages
                    $('#message-container').empty();
                    // Append the error message to the message container
                    $('#message-container').append('<div class="alert alert-danger text-center">' + xhr.responseJSON.message + '</div>');
                }
            });
        });
    });

    window.onload = function() {
      document.getElementById("category-btn").style.display="none";
      document.getElementById("price-btn").style.display="none";
    };
</script>

{% endblock page %}