{% extends "adminsite/index.html" %}
{% load my_filter %}

{% block adminpanel %}
<div class="pagetitle">
  <h1>View Category</h1>
  <nav style="--bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">
          <i class="bi bi-house-door"></i>
        </a>
      </li>
      <li class="breadcrumb-item active">Admin Login</li>
      <li class="breadcrumb-item active">view category</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
{% if messages %}
{% for msg in messages %}
<div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
  <i class="bi bi-{{msg.tags|Icon}} me-1"></i>{{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert"
    aria-label="Close"></button>
</div>
{% endfor %}
{% else %}
<div class="card">
  <div class="card-body">
    <!-- <h2 class="card-title"><center>Display Product</center></h2> -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for c in cats %}
        <tr>
          <th scope="row">{{c.id}}</th>
          <td>{{c.name|title}}</td>
          <td><a href="/admin/dashboard/viewcategory/catdelete/{{c.id}}"
              class="btn btn-outline-danger btn-sm">Delete Category</a> <a
              href="/admin/dashboard/viewcategory/rename_category/{{c.id}}"
              class="btn btn-outline-dark btn-sm">Rename Category</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- End Default Table Example -->
  </div>
</div>
{% endif %}
{% endblock adminpanel %}
